HELP.md
consumer/target
producer/target

consumer/src/main/resources/
consumer/src/test/resources/
producer/src/main/resources/application.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr